@import "../../../../styles/variables";

.lead-row-status-container {
  margin-top: 10px;
  border-radius: 15px;
  padding: 5px 15px;
  color: white;
  font-weight: bold;

  &.clickable {
    cursor: pointer;
    opacity: 0.4;

    &:active {
      transform: scale(0.95);
    }
  }

  &.new {
    background-color: #3cb371;
  }

  &.open {
    background-color: #1e90ff;
  }

  &.closed {
    background-color: #ff6347;
  }

  &.progress {
    background-color: #bb00ff;
  }

  &.warm {
    background-color: #fad24f;
  }

  &:hover {
    cursor: pointer;
  }

  &.selected {
    opacity: 1;
  }
}
