@import "../../../styles/variables.scss";

.message-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  border-radius: 20px;
  max-width: 70%;
  display: flex;

  &.received {
    background-color: $theme-lightgrey;
    border: 1px solid $theme-lightgrey;
    align-self: flex-start;
  }

  &.sent {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    color: white;
    align-self: flex-end;
  }
}
