.main-container {
  display: flex;
  overflow: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .main-container {
    flex-direction: column-reverse;
  }
}
