@import "../../../styles/variables.scss";

.confirm-delete-lead {
  background-color: white;
  border: 1px solid $theme-lightgrey;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 30vw;
  height: 30vh;
  z-index: 9999;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  .are-you-sure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;

    h3 {
      padding: 0;
      margin: 0;
    }
  }

  .confirm-delete-lead-buttons {
    display: flex;
    gap: 20px;

    .delete-lead-btn {
      background-color: red;
      border: 1px solid red;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: rgb(215, 0, 0);
        border: 1px solid rgb(196, 0, 0);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .cancel-delete-btn {
      background-color: transparent;
      border: 1px solid $theme-grey;
      color: $theme-grey;
      padding: 10px 15px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background: $theme-lightgrey;
        border: 1px solid $theme-lightgrey;
        color: $theme-black;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
