@import "../../styles/variables.scss";

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  background-color: $theme-black;
  height: 7vh;
  align-items: center;

  .navbar-logo {
    width: 10%;
    height: 100%;
    padding: 0 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

    .logo {
      height: 80%;
      width: autos;
    }
  }

  .hamburger-container {
    display: none;
  }

  .vertical-line {
    width: 2px;
    height: 50%;
    background-color: $theme-grey;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-right: 3rem;

    .navbar-link {
      list-style: none;
      color: white;
      font-size: 18px;
      font-family: $font-family;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      .account {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .nav-dropdown-container {
          position: absolute;
          border: 1px solid $theme-grey;
          margin-top: 10px;
          margin-left: 20px;
          display: flex;
          padding: 10px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: fit-content;
          min-width: 120px;
          max-width: fit-content;
          background-color: white;
          border-radius: 10px;

          .nav-dropdown-item {
            text-decoration: none;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 10px;

            &:hover {
              background-color: $theme-lightgrey;
            }

            .nav-dropdown-link {
              text-decoration: none;
              color: $theme-black;
              font-size: 16px;
            }
          }
        }
      }

      .get-started-button {
        background-color: $primary-color;
        color: white;
        font-size: 1rem;
        padding: 10px 20px;
        border: transparent;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: #ff3d00;
        }

        &:active {
          transform: scale(0.95);
        }

        &.login {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .navbar-logo {
      width: 20%;
    }

    .hamburger-container {
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;

      .material-symbols-outlined {
        font-size: 2rem;
      }
    }

    .vertical-line {
      display: none;
    }

    .navbar-links {
      display: none;
    }
  }
}
