@import "../../styles/variables";

.leads-container {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  height: calc(100vh - 11rem);

  .leads-filter-container {
    border: 1px solid black;
    height: 5rem;
  }

  .leads-list-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid $theme-lightgrey;
    max-height: calc(100vh - 11rem - 4rem - 4rem - 30px);
    width: 96%;

    .leads-list-search {
      display: flex;
      justify-content: space-between;
      height: 4rem;
      align-items: center;
      border-bottom: 1px solid $theme-lightgrey;

      .searchbar-leads {
        width: 30%;
        margin-left: 20px;

        border: 1px solid $theme-lightgrey;
        outline: none;
        font-size: 1rem;
        font-family: inherit;
        padding: 0.5rem;
        border-radius: 0.25rem;

        &:focus {
          border: 2px solid $secondary-color;
        }

        &:hover {
          background-color: #f5f5f5;
        }
      }

      .leads-per-page {
        display: flex;
        margin-right: 20px;
        align-items: center;

        .choose-num-leads {
          display: flex;
          align-items: center;
          font-weight: bold;
          border: 1px solid $theme-grey;
          background-color: #f6f6f6;
          color: $theme-black;
          border-radius: 5px;
          padding: 2px 3px;

          .material-symbols-outlined {
            color: $theme-grey;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .leads-list-filters {
      display: flex;
      height: 4rem;
      align-items: center;
      background-color: rgb(248, 248, 248);

      .leads-list-filters__checkbox {
        color: $theme-lightgrey;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        height: 100%;
        width: 10%;

        &.checkAll {
          color: $secondary-color;

          .material-symbols-outlined {
            font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 48;
          }
        }

        :hover {
          cursor: pointer;
        }
      }

      .leads-list-filters__name {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        align-items: center;
        font-weight: bold;
        color: $theme-grey;
        font-size: 12px;
        height: 100%;
        width: calc(90% / 4);

        &:hover {
          cursor: pointer;
        }
      }

      .leads-list-filters__contact {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        align-items: center;
        font-weight: bold;
        color: $theme-grey;
        font-size: 12px;
        font-weight: bold;
        height: 100%;
        width: calc(90% / 4);

        &:hover {
          cursor: pointer;
        }
      }

      .leads-list-filters__status {
        display: flex;
        justify-content: flex-start;
        padding-left: 50px;
        align-items: center;
        font-weight: bold;
        color: $theme-grey;
        font-size: 12px;
        height: 100%;
        width: calc(90% / 4);

        &:hover {
          cursor: pointer;
        }
      }

      .leads-list-filters__owner {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        align-items: center;
        color: $theme-grey;
        font-size: 12px;
        font-weight: bold;
        height: 100%;
        width: calc(90% / 4);

        &:hover {
          cursor: pointer;
        }
      }
    }

    .leads-list {
      display: flex;
      flex-direction: column;
      border: 1px solid $theme-lightgrey;
      overflow-y: scroll;
      height: calc(100vh - 11rem - 4rem - 4rem - 30px - 4rem);
    }

    .leads-list {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .leads-list::-webkit-scrollbar {
      display: none;
    }
  }
}
