@import "../../styles/variables";

.contacts-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 4rem - 33px);

  .contacts-sections {
    padding-left: 2rem;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    width: 100%;
    border-bottom: 1px solid $theme-lightgrey;
    height: 6vh;

    .contacts-section {
      font-family: $font-family;
      font-size: 14px;
      color: $theme-grey;
      font-weight: 600;

      .link {
        text-decoration: none;
        color: $theme-grey;
      }

      &:hover {
        cursor: pointer;
      }

      &.selected {
        .link {
          color: $primary-color;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .contacts-container {
    .contacts-sections {
      width: 100vw;
      justify-content: center;
      padding-left: 0;
    }
  }
}
