@import "../../../styles/variables";

.filter-add-lead-container {
  z-index: 3;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 2rem;

  .filter-leads-container {
    display: flex;
    gap: 20px;

    .filter-leads {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $theme-lightgrey;
      padding: 5px 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .create-lead-button {
    background-color: $primary-color;
    border: transparent;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

@media (max-width: 767px) {
  .filter-add-lead-container {
    display: flex;
    justify-content: flex-end;
    padding: 0;

    .filter-leads-container {
      display: none;
    }

    .create-lead-button {
      justify-self: flex-end;
    }
  }
}
