@import "../../styles/variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  transition: opacity 0.5s ease-in-out;
}

.create-lead-container {
  position: fixed;
  width: 50vw;
  height: 93vh;
  background-color: white;
  z-index: 9999;
  right: -50vw;
  bottom: 0;
  animation-name: slideInFromRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.slide-out {
  animation-name: slideOutToRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.create-lead-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 50vw;
  height: 93vh;
  background-color: white;
  z-index: 9999;
  right: -50vw;
  bottom: 0;
  animation-name: slideInFromRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  &.slide-out {
    animation-name: slideOutToRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .create-lead-header {
    padding: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $theme-lightgrey;

    h1 {
      font-size: 24px;
      font-weight: bold;
      padding-left: 3rem;
    }

    .close-create-lead-button {
      padding-right: 3rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@keyframes slideInFromRight {
  from {
    right: -50vw;
  }
  to {
    right: 0;
  }
}

@keyframes slideOutToRight {
  from {
    right: 0;
  }
  to {
    right: -50vw;
  }
}

.create-lead-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  width: 80%;
  height: 100%;

  .lead-name {
    display: flex;
    width: 100%;
    gap: 40px;
  }

  input {
    border: 1px solid $theme-lightgrey;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;

    &:focus {
      border: 2px solid $secondary-color;
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }

  .lead-progress {
    display: flex;
    width: 90%;
    gap: 20px;
  }

  .create-lead-button-container {
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    gap: 1rem;

    .create-lead-and-another-button {
      background-color: white;
      border: transparent;
      color: $theme-grey;
      font-weight: bold;
      padding: 10px 15px;
      border-radius: 5px;
      border: 2px solid $theme-grey;

      &:hover {
        background-color: $theme-lightgrey;
        cursor: pointer;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .create-lead-button {
      background-color: $primary-color;
      border: transparent;
      color: white;
      font-weight: bold;
      padding: 10px 15px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
