@import "../../../styles/variables";

.confirm-delete-lead {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 30vh;
}

.lead-preview-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 50vw;
  height: 100%;
  background-color: white;
  z-index: 9999;
  bottom: 0;
  right: 0;

  .lead-name-and-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;

    .lead-edit {
      border: 1px solid $theme-lightgrey;
      border-radius: 50%;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $theme-grey;

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .lead-options {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      justify-content: center;
      width: 150px;
      flex-direction: column;
      border: 1px solid $theme-lightgrey;
      border-radius: 5px;
      position: relative;
      top: 0;
      right: 0;
      height: fit-content;
      z-index: 9999;

      .lead-option {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        width: calc(100% - 20px);
        gap: 5px;

        &:hover {
          cursor: pointer;
          background-color: $theme-lightgrey;
        }

        &.delete {
          color: red;
        }
      }
    }
  }

  .lead-preview-buttons-container {
    padding: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $theme-lightgrey;

    h1 {
      font-size: 24px;
      font-weight: bold;
      padding-left: 3rem;
    }

    .close-lead-details-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $theme-lightgrey;
      border-radius: 3px;
      padding: 3px 6px;
      margin-right: 40px;
      color: $theme-black;

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .full-lead-details-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      padding: 5px 10px;
      font-size: 12px;
      border: 1px solid $theme-grey;
      align-self: flex-end;
      text-decoration: none;
      color: $theme-black;

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .lead-preview-header {
    width: 90%;
    height: 35%;
    border: 1px solid $theme-lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;

    .lead-preview-name-container {
      width: 100%;
      height: 50%;
      padding: 15px;

      .lead-preview-name {
        font-size: 30px;
        font-weight: 800;
        margin: 10px;
      }
    }

    .lead-preview-contact-info {
      display: flex;
      gap: 1rem;
      margin: 10px;
      align-items: center;
      font-size: 16px;

      .lead-preview-email {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: $theme-grey;
      }

      .lead-preview-phone {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: $theme-grey;
      }
    }

    .additional-lead-details {
      display: flex;
      width: 100%;
      height: 100%;
      border-top: 1px solid $theme-lightgrey;

      .lead-owner-container {
        width: calc(100% / 3);
        height: calc(100% - 20px);
        color: $theme-grey;
        padding: 10px;
        border-right: 1px solid $theme-lightgrey;

        .detail {
          font-weight: 600;
          font-size: 18px;
          color: $theme-black;
        }
      }

      .lead-company-container {
        width: calc(100% / 3);
        color: $theme-grey;
        padding: 10px;
        border-right: 1px solid $theme-lightgrey;

        .detail {
          font-weight: 600;
          font-size: 18px;
          color: $theme-black;
          margin-top: 1rem;
        }
      }

      .lead-job-title-container {
        width: calc(100% / 3);
        color: $theme-grey;
        padding: 10px;

        .detail {
          font-weight: 600;
          font-size: 18px;
          color: $theme-black;
          margin-top: 1rem;
        }
      }
    }
  }

  .lead-status-container {
    display: flex;
    width: 90%;
    height: fit-content;
    gap: 5px;
    margin-top: 10px;

    .lead-status {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $theme-lightgrey;
      font-size: 14px;
      font-weight: 400;
      color: $theme-black;
      padding: 15px 20px;

      &.selected {
        background-color: #62c352;
        color: white;
      }
    }
  }

  .lead-notes-feed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    border-top: 1px solid $theme-lightgrey;
    padding-top: 20px;
    overflow-y: scroll;

    .lead-notes-container {
      display: flex;
      width: 90%;
      height: 50%;
      font-size: 18px;
      font-weight: 600;
      font-size: 22px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;

      .note-title-and-add-button {
        display: flex;
        align-items: center;
        width: 100%;

        h4 {
          font-size: 24px;
          font-weight: 600;
          margin: 10px;
        }

        .close {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $primary-color;
          font-size: 16px;
          font-family: $font-family;

          &:hover {
            cursor: pointer;
          }

          &:active {
            transform: scale(0.95);
          }
        }

        .add-note-button {
          color: $primary-color;
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            cursor: pointer;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }

      .note-title-and-add-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }

  .lead-notes-feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .lead-notes-feed::-webkit-scrollbar {
    display: none;
  }
}
