@import "../../styles/variables";

.leads-container {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  justify-content: flex start;
  gap: 30px;
  height: fit-content;
  width: calc(100% - 40px);
  justify-self: center;
  padding: 20px;
  overflow-y: hidden;

  .leads-count {
    font-family: $font-family;
    font-size: 50px;
    font-weight: 600;
    color: #000;
    margin-left: 30px;
    width: fit-content;
    padding: 0;
  }

  .all-leads-list {
    height: 540px;
  }
}

@media (max-width: 767px) {
  .leads-container {
    height: 86vh;
    width: 90vw;

    .count-and-create {
      display: flex;
      .leads-count {
        font-size: 30px;
        margin-left: 0;
        width: 50%;
      }

      .filters-and-add-lead {
        width: 50%;
      }
    }
  }
}
