@import "../../styles/variables";

.leads-container {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  justify-self: center;
  margin: 10px;

  .leads-count {
    font-family: $font-family;
    font-size: 50px;
    font-weight: 600;
    color: #000;
    margin-left: 30px;
    width: fit-content;
    padding: 0;
  }
}
