@import "../../../../styles/variables.scss";

.lead-row-item {
  display: flex;
  padding: 20px 0;
  border: 1px solid $theme-lightgrey;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: #f6f7fd;
  }

  &.selected {
    background-color: #f6f7fd;
  }

  .lead-row-item__checkbox {
    color: $theme-lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;

    :hover {
      cursor: pointer;
      background-color: #f6f7fd;
    }

    &.selected {
      color: $secondary-color;

      .material-symbols-outlined {
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
      }
    }
  }

  .lead-row-item__name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    padding-left: 20px;
    height: 100%;
    width: calc(90% / 4);

    &:hover {
      cursor: pointer;
    }
  }

  .lead-row-item__contact {
    color: $theme-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    font-weight: bold;
    height: 100%;
    width: calc(90% / 4);
    gap: 5px;

    .lead-row-item__contact_email {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .lead-row-item__contact_phone {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .lead-row-item__status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    font-weight: bold;
    height: 100%;
    width: calc(90% / 4);
  }

  .lead-row-item__owner {
    display: flex;
    justify-content: flex-start;
    color: $theme-grey;
    padding-left: 20px;
    align-items: center;
    font-weight: bold;
    height: 100%;
    width: calc(90% / 4);
  }
}

@media (max-width: 767px) {
  .lead-row-item {
    width: 100%;

    .lead-row-item__checkbox {
      display: none;
    }

    .lead-row-item__name {
      width: 50%;
    }

    .lead-row-item__contact {
      display: none;
    }

    .lead-row-item__status {
      display: flex;
      width: 50%;
      justify-content: flex-start;
      align-items: center;
    }

    .lead-row-item__owner {
      display: none;
    }
  }
}
