.auth-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 80vh;
  margin-bottom: 0;
  gap: 30px;

  .image-container {
    height: 80%;
    width: 35%;

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .auth-options {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
    height: 80%;
    margin-bottom: 0;

    .logo-container {
      height: 100px;
      width: auto;

      .logo {
        height: 100%;
        width: 100%;
      }
    }

    .auth-subtitle {
      font-size: 27px;
    }

    .toggle-auth {
      display: flex;
      position: relative;
      width: 200px;
      height: 40px;
      background-color: rgb(242, 242, 242);
      padding: 5px;
      border-radius: 8px;
      cursor: pointer;
      z-index: 1001;
    }
  }

  .try-demo {
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.form-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.toggle-auth-option {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px 10px;
  color: lightgrey;
  font-size: 12px;
  font-weight: bold;
  transition: color 0.5s ease, background-color 0.5s ease;

  &.active {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
  }
}

@media (max-width: 767px) {
  .auth-container {
    flex-direction: column;
    height: fit-content;
    justify-content: flex-start;
    margin-top: 50px;

    .image-container {
      display: none;
    }

    .auth-options {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      align-items: center;
      height: 50%;
      margin-bottom: 0;

      .logo-container {
        height: 100px;
        width: auto;

        .logo {
          height: 100%;
          width: 100%;
        }
      }

      .auth-subtitle {
        font-size: 27px;
      }

      .toggle-auth {
        display: flex;
        position: relative;
        width: 200px;
        height: 40px;
        background-color: rgb(242, 242, 242);
        padding: 5px;
        border-radius: 8px;
        cursor: pointer;
        z-index: 1001;
      }
    }

    .try-demo {
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .form-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .toggle-auth-option {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px 10px;
    color: lightgrey;
    font-size: 12px;
    font-weight: bold;
    transition: color 0.5s ease, background-color 0.5s ease;

    &.active {
      background-color: white;
      color: black;
      font-weight: bold;
      border-radius: 5px;
    }
  }
}
