@import "../../../styles/variables.scss";

.company-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 40px);
  height: 82vh;
  padding: 20px;

  .company-header {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    .company-header__logo {
    }

    .company-header__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;

      .company-header__additional-details {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;

        .company-header__info--location {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $theme-grey;
          gap: 10px;
        }

        .company-header__info--phone {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $theme-grey;
          gap: 10px;
        }

        .company-header__info--website {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: $theme-grey;
          gap: 10px;

          .link {
            text-decoration: none;
          }

          h3 {
            color: $theme-grey;
            text-decoration: none;
          }
        }
      }
    }
    .company-header__info--name {
    }
  }
  .company-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;

    .company-body__employees {
      height: 100%;

      .company-body__employees--list-container {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .company-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: 82vh;
    overflow: scroll;

    .company-header {
      width: 90vw;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      text-align: center;
      margin: 0;

      .company-header__info {
        gap: 0;
        margin: 0;
        padding: 0;

        .company-header__additional-details {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0px;
          height: fit-content;
          padding: 0;
          margin: 0;

          .company-header__info--location {
            flex-direction: column;
            padding: 0;
            margin: 0;
            .material-symbols-outlined {
              display: none;
            }
          }

          .company-header__info--phone {
            flex-direction: column;
            .material-symbols-outlined {
              display: none;
            }
          }

          .company-header__info--website {
            flex-direction: column;
            .material-symbols-outlined {
              display: none;
            }

            .link {
              text-decoration: none;
            }

            h3 {
              color: $theme-grey;
              text-decoration: none;
            }
          }
        }
      }
    }

    .company-body {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 80%;

      .company-body__employees {
        height: 100%;

        .company-body__employees--list-container {
          width: 100%;
          height: 80%;
        }
      }
    }
  }
}
