@import "../../styles/variables";

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $theme-lightgrey;
  padding: 5px 10px;
  z-index: 997;
  position: relative;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }

  .dropdown-toggle {
    display: flex;
    align-items: center;

    .material-symbols-outlined {
      &.flipped {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: fit-content;
    padding: 0.5rem 10px;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;

    &.show {
      display: block;
    }
  }
}
