@import "../../styles/variables.scss";

.chat-container {
  height: 93vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .chats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    border: 1px solid $theme-lightgrey;
    border-radius: 25px;

    .conversations {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 22%;
      border-right: 1px solid $theme-lightgrey;

      .chat-title {
        align-self: flex-start;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 10px;

        .create-chat {
          display: flex;
          justify-content: center;
          align-items: center;

          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          background-color: white;
          border: 1px solid $theme-lightgrey;
          cursor: pointer;

          &:hover {
            background-color: $theme-lightgrey;
          }

          &:active {
            transform: scale(0.9);
          }
        }
      }

      .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        height: 5%;
        width: 90%;
      }

      .all-chats {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }

    .messages-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      height: 100%;
      width: 78%;
    }
  }
}

@media (max-width: 767px) {
  .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 83vh;

    .chats {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 100%;
      border: none;

      .conversations {
        width: 90vw;
        border-right: none;
        border-bottom: 1px solid $theme-lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .chat-title {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 0;
        }

        .search-container {
          width: 100%;
        }

        .all-chats {
          width: 100%;
          height: 100%;
        }
      }

      .messages-container {
        width: 95%;
        height: 100%;
      }
    }
  }
}
