@import "../../styles/variables";

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100vw - 4rem);

  .dashboard-content {
    display: flex;
    align-self: center;
    width: calc(100% - 2rem);
    height: 100%;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    .activity-leads-container {
      display: flex;
      flex-direction: column;
      width: 65%;
      height: 100%;
      gap: 20px;

      .my-activity {
        height: 50%;
        width: calc(100% - 40px);
        border: 1px solid $theme-lightgrey;
        border-radius: 15px;
        padding: 20px;
      }

      .my-leads {
        max-height: 50%;
        width: calc(100% - 40px);
        border: 1px solid $theme-lightgrey;
        border-radius: 15px;
        padding: 20px;
        overflow: scroll;
      }
    }

    .my-calendar {
      width: 35%;
      height: calc(100% - 40px);
      border: 1px solid $theme-lightgrey;
      border-radius: 15px;
      padding: 20px;
    }
  }
}
