@import "../../../styles/variables.scss";

.day {
  width: calc(100% / 8);
  height: calc(100% / 5);
  border: 1px solid $theme-lightgrey;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &.past {
    background-color: rgb(245, 245, 245);
  }

  .date {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;

    &.today {
      background-color: $primary-color;
      color: white;
    }

    &.other-month {
      color: rgb(196, 196, 196);
    }
  }

  .events {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .day {
    .events {
      display: none;
    }
  }
}
