@import "../../../styles/variables.scss";

.lead-owner-search-list-container {
  position: relative;
  z-index: 9999;
  min-height: fit-content;
  width: calc(fit-content + 2rem);
  background-color: white;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid blue;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .employee-option {
    &:hover {
      cursor: pointer;
      background-color: $theme-lightgrey;
    }
  }
}

.lead-owner-search-list-container::-webkit-scrollbar {
  display: none;
}
